# {{ ansible_managed }}

$DefaultNetstreamDriverCAFile /etc/papertrail-bundle.pem # trust these CAs
$ActionSendStreamDriver gtls # use gtls netstream driver
$ActionSendStreamDriverMode 1 # require TLS
$ActionSendStreamDriverAuthMode x509/name # authenticate by hostname
$ActionSendStreamDriverPermittedPeer *.papertrailapp.com

{% if papertrail_enable_tcp %}
$ActionResumeInterval {{ action_resume_interval }}
$ActionQueueSize {{ action_queue_size }}
$ActionQueueDiscardMark {{ action_queue_discard_mark }}
$ActionQueueHighWaterMark {{ action_queue_high_water_mark }}
$ActionQueueType {{ action_queue_type }}
$ActionQueueFileName {{ action_queue_file_name }}
$ActionQueueCheckpointInterval {{ action_queue_checkpoint_interval }}
$ActionQueueMaxDiskSpace {{ action_queue_max_disk_space }}
$ActionResumeRetryCount {{ action_resume_retry_count }}
$ActionQueueSaveOnShutdown {{ action_queue_save_on_shutdown }}
$ActionQueueTimeoutEnqueue {{ action_queue_timeout_enqueue }}
$ActionQueueDiscardSeverity {{ action_queue_discard_severity }}
{% endif %}

{{ papertrail_loglevel }}                                         {{ '@@' if papertrail_enable_tcp else '@'}}{{ papertrail_destination }}

